.reset{
    background-image: url(/src/assets/images/reset\ password-1.svg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;   
    overflow: hidden;
}
.reset-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height:90%;
    width: 100%;
}
.reset-box{
    width:fit-content;
    background-color: #0B0B0B;
    border-radius: 30px;
    padding: 20px;
    z-index: 11;
}
.reset-task{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--roboto-font);
    color: white;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:736px) {
    .reset-box{
        padding: 10px;
    }
    .reset-task{
        font-size: 20px;
    }
    .email-icon img{
        width: 50px;
    }
    #cod-task{
        font-size: 12px;
    }

}