/* BurgerMenu.css */
.menu-burger .line1,
.menu-burger .line2 {
  height: 0;
  width: 25px;
  background-color: white;
  position: absolute;
  transition: 0.3s;
}

.menu-burger.fs .line1,
.menu-burger.fs .line2 {
  height: 2px;
  width: 25px;
  background-color: white;
  position: absolute;
  transition: 0.3s;
}

.menu-bg {
  background-color: #663399;
  pointer-events: none;
  transition: 0.3s;
  right: 0px;
  top: 0px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center;
}

.menu-bg.fs {
  transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
}

.menu-burger {
  color: white;
  padding-top: 11px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.4s;
  transform-origin: center;
}

.menu-burger.fs {
  transform: rotate(45deg);
}

.menu-items {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  margin-top: 100px;
  transform: translateY(-200%);
  pointer-events: none;
}

.odin {
  margin-top: 20px;
}

.menu-items.fs {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}

.menu-items.fs .odin {
  opacity: 1;
  margin-top: 75px;
}

.menu-items .odin {
  margin-top: 20px;
}

.content {
  padding: 100px 50px;
  line-height: 1.62em;
  color: #444;
}

@media (max-width: 1000px) {
  .menu {
    display: block;
  }
}
