*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}
:root{
    --roboto-font:'Roboto', sans-serif;
    --accent-color: #FFDC33; 
}
button:active{
    transform: scale(0.95);
    cursor:pointer;
}
button{
    cursor: pointer;
}