.background-leaves{
    position: absolute;
    overflow: hidden;
    background: url('/src/assets/images/листься.png') center center/cover no-repeat;
    animation: slideBackground 1s ease-in-out;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
}
@keyframes slideBackground {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
@media screen and (max-width: 769px) {
  .background-leaves{
    display: none;
  }
}